<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="H. Lozano">
    <meta name="description" content="Purchase and sale of products.">
    <meta property="og:title" content="Dealswap">
    <meta property="og:description" content="Purchase and sale of products.">
    <meta property="og:image" content="">
    <title>Login</title>
  <link rel="stylesheet" href="../style/loading.css">
  <link rel="shortcut icon" href="./assets/favicon/logo-favicon.ico" type="image/x-icon">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex flex-col">
  <header class="sticky top-0 z-40 w-full bg-white shadow-md"></header>

  <main class="bg-gray-100 flex-1 flex items-center justify-center py-10">
    
    <section id="login"></section>

  </main>

  <footer class="w-full bg-white shadow-md"></footer>
  
  <script type="module" src="../login.js"></script>
</body>
</html>
